<section>
    <h1 fxLayoutAlign="center">Editar Usuário</h1>

    <form fxLayout="column" fxLayoutAlign="start center" [formGroup]="userForm" fxLayoutGap="15px"
        (ngSubmit)="onSubmit()">


        <mat-form-field>
            <input type='email' matInput placeholder="E-mail" 
                formControlName = "email">
            <mat-error *ngIf="userForm.controls['email'].hasError('required')">Campo obrigatório</mat-error>
            <mat-error *ngIf="!userForm.controls['email'].hasError('required')">E-mail é inválido</mat-error>
        </mat-form-field>


        <mat-form-field>
            <input matInput type="text" placeholder="Nome do Usuário" formControlName="name">
            <mat-error *ngIf="userForm.controls['name'].hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>


        <mat-form-field>
            <input type='text' matInput placeholder="Função" formControlName = "position">
        </mat-form-field>


        <mat-form-field>
            <input type='text' matInput placeholder="uid" formControlName = "uid">
        </mat-form-field>

        
        <div fxLayout="row" fxLayoutGap="10px">
            <button type="submit" mat-raised-button color="primary" [disabled]="userForm.invalid">Salvar</button>
            <button type="button" mat-raised-button color="warn" (click)="onCancelOrExit()">Cancelar</button>
        </div>
    </form>
</section>