<div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <h1>Minha Conta</h1>

    <mat-card *ngIf="profile" class="account-card">
        <div fxLayout="row">
            <mat-card-header>
                <img mat-card-avatar class="example-header-image" [src]="profile.photoUrl">
                <mat-card-title>{{profile.name}}</mat-card-title>
                <mat-card-subtitle *ngIf="profile.position">{{profile.position}}</mat-card-subtitle>
            </mat-card-header>
            <span style="flex: 1 1 auto;"></span>
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #userMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="openEditPhotoDialog()">
                    <mat-icon>add_a_photo</mat-icon>
                    <span>Alterar foto</span>
                </button>
                <button mat-menu-item (click)="openResetPasswordDialog()">
                    <mat-icon>key</mat-icon>
                    <span>Redefinir senha</span>
                </button>
            </mat-menu>
        </div>
            
        <p></p>
        <mat-divider inset></mat-divider>
        <p></p>

        <mat-card-content>
            <form fxLayout="column" fxLayoutAlign="center start" [formGroup]="accountForm" fxLayoutGap="15px">

                <mat-form-field>
                    <input matInput readonly type="text" placeholder="e-mail" formControlName="email">
                </mat-form-field>

                <div fxLayoutAlign="start center">
                    <mat-form-field>
                        <input matInput readonly type="text" placeholder="cargo" formControlName="position">
                    </mat-form-field>
                    <button mat-icon-button (click)="openEditPositionDialog()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>

                <mat-form-field class="example-full-width">
                    <input matInput readonly type="text" placeholder="empresa" formControlName="company">
                </mat-form-field>

            </form>

        </mat-card-content>

        <mat-divider inset></mat-divider>

        <mat-card-actions align="end">
            <button mat-button (click)="onLogout()">Logout</button>
        </mat-card-actions>
    </mat-card>

    <div fxLayoutAlign="center center">
        <mat-spinner *ngIf='isLoading || !profile'></mat-spinner>
    </div>

</div>