<div class="welcome" 
    fxLayout="column" fxLayout.gt-md="row" 
    fxLayoutGap = 30px fxLayoutGap.gt-md = 30px
    fxLayoutAlign="center center">
    <section>
        <h1>ATIVIDADES</h1>
        <p>Confira atividades recentes do seu feed</p>
    </section>
    <section>
        <h1>COMUNIDADE</h1>
        <p>Conheça outras pessoas</p>
    </section>
    <section>
        <h1>DISCUSSÕES</h1>
        <p>Participe de discussões e encontre soluções para problemas comuns</p>
    </section>
</div>