<h1>Minhas Equipes</h1>
<mat-table [dataSource]="dataSourceTeams" matSort>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Equipe</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nmembers">
        <mat-header-cell *matHeaderCellDef> Membros </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.members.length}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nsystems">
        <mat-header-cell *matHeaderCellDef> Sistemas </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.systems ? element.systems.length : 0}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef>
            <button mat-raised-button (click)="new()">
                <mat-icon>group_add</mat-icon>
                <span style="padding-left: 8px;">Nova Equipe</span>
              </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onViewTeam(element.id!)">
                <mat-icon>open_in_new</mat-icon>
            </button>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumnsTeams"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsTeams;"></mat-row>
</mat-table>

<div fxLayoutAlign="center center">
    <mat-spinner *ngIf='isLoading'></mat-spinner>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>