<div *ngIf='!isLoading' fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxFlex fxLayoutGap="8px" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>info</mat-icon>
        <div>Parece que você não se juntou à nenhuma empresa ainda</div>
    </mat-card>

    <br><br>

    <div fxHide.gt-xs>
        <button mat-raised-button color="primary" (click)="onCreateCompany()">
            <mat-icon>domain_add</mat-icon>
            <span style="padding-left: 10px;">Novo Grupo de Empresa</span>
        </button>
    </div>

    <div fxHide.xs>
        <button mat-raised-button class="big-button" color="primary" (click)="onCreateCompany()">
            <button mat-fab color="black">
                <mat-icon>domain_add</mat-icon>
            </button>
            <span style="padding-left: 10px;">Criar um novo Grupo de Empresa</span>
        </button>
    </div>

    <br>

    <div fxHide.gt-xs>
        <button mat-raised-button color="primary" (click)="onSearchCompany()">
            <mat-icon>travel_explore</mat-icon>
            <span style="padding-left: 10px;">Pesquisar grupos públicos</span>
        </button>
    </div>

    <div fxHide.xs>
        <button mat-raised-button class="big-button" color="primary" (click)="onSearchCompany()">
            <button mat-fab color="black">
                <mat-icon>travel_explore</mat-icon>
            </button>
            <span style="padding-left: 10px;">Pesquisar um Grupo para se juntar</span>
        </button>
    </div>

    <br>
    <button mat-raised-button color="warn" (click)="onViewCompany()">
        <mat-icon>visibility</mat-icon>
        <span style="padding-left: 10px;">Ver company</span>
    </button>

    <span>{{user?.companyId ? user?.companyId : "sem company"}}</span>
</div>

<div fxLayout="column" fxLayoutAlign="center center" *ngIf='isLoading'>
    <mat-spinner ></mat-spinner>
</div>