<h1>Empresa</h1>
<table class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
            <th>Nome</th>
            <th>Segmento</th>
            <th>Descrição</th>
            <th>Administrador</th>
            <th>Aberto</th>
            <th class="text-center">
                <a [routerLink]="['/empresas/novo']"
                href="#" title="Novo" alt="Novo" class="btn btn-xs btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> Novo
                </a>
            </th>
        </tr>
        <tr *ngFor="let empresa of empresas">
            <td>{{empresa.nome}} </td>
            <td>{{empresa.segmento}} </td>
            <td>{{empresa.descricao}} </td>
            <td>{{empresa.administrador}} </td>
            <td>{{empresa.fl_aberto! ? "Aberto" : "Fechado"}} </td>

            <td class="text-center" style="width: 300px">
                <a [routerLink]="['/empresas/editar', empresa.id]" href="#" title="Editar" alt="Editar" class="btn btn-xs btn-info">
                    <i class="fa fa-edit" aria-hidden="true"></i> Editar
                </a>
                <a href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger"
                    (click)="remover($event, empresa)">
                    <i class="fa fa-times" aria-hidden="true"></i> Remover
                </a>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="empresas.length == 0">Nenhuma empresa cadastrado.</p>