<section class="signup-form">
    <h1 fxLayoutAlign="center">Novo Usuário</h1>
    <form 
        fxLayout="column" 
        fxLayoutAlign="center center" 
        fxLayoutGap="0px" 
        [formGroup] = "signupForm" 
        (ngSubmit)="onSubmit()"
        >

        <div class="dual-container" >
            <mat-icon matSuffix>person</mat-icon>
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input type='text' matInput placeholder="Nome" 
                formControlName = "name">
                <mat-error *ngIf="signupForm.controls['name'].hasError('required')">Campo obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="dual-container" >
            <mat-icon matSuffix>mail</mat-icon>
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label >
                    <input type='email' matInput placeholder="E-mail" 
                    formControlName = "email">
                    <mat-error *ngIf="signupForm.controls['email'].hasError('required')">Campo obrigatório</mat-error>
                    <mat-error *ngIf="!signupForm.controls['email'].hasError('required')">E-mail é inválido</mat-error>
                </mat-form-field>
            </div>

        <div class="dual-container" >
            <mat-icon>password</mat-icon>
            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput  [type]="hide ? 'password' : 'text'"  placeholder="Senha" 
                    formControlName = "password">
                <mat-icon-button matSuffix (click)= "hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-icon-button>
                <mat-hint align="end"> {{ signupForm.value.password.length }} / 8</mat-hint>    
                <mat-error *ngIf="signupForm.controls['password'].hasError('minlength')">Deve ter pelo menos 8 caracteres</mat-error>
                <mat-error *ngIf="signupForm.controls['password'].hasError('required')">Campo obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="dual-container" >
            <mat-icon matSuffix>badge</mat-icon>
            <mat-form-field appearance="outline">
                <mat-label>Função</mat-label>
                <input type='text' matInput placeholder="Função" 
                formControlName = "position">
            </mat-form-field>
        </div>

        <mat-checkbox  formControlName="terms" name="Terms" color="primary" 
            required >Li e aceito os Termos e Condições
        </mat-checkbox>

        <br>

        <button *ngIf='!isLoading' type="submit" mat-raised-button color="primary" 
            [disabled]="signupForm.invalid">Cadastrar
        </button>

        <mat-spinner *ngIf='isLoading'></mat-spinner>
    </form>
</section>