<mat-nav-list>

    <mat-list-item>
        <img matListAvatar src='https://material.angular.io/assets/img/examples/shiba1.jpg' alt="...">
        <span mat-line> {{data.name}} </span>
        <span mat-line> {{data.email}} </span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item [disabled]='data.isAdmin'>
        <mat-icon matListIcon>assignment_ind</mat-icon>
        <span mat-line>Tornar administrador</span>
        <span mat-line *ngIf="data.isAdmin" >usuário já é administrador</span>
    </mat-list-item>

    <!-- <mat-list-item *ngIf="data.isAdmin">
        <mat-icon matListIcon>assignment_ind</mat-icon>
        <span mat-line>Tornar admin</span>
        <span mat-line>usuário já é admin</span>
    </mat-list-item> -->

    <mat-list-item (click)="openLink($event)">
        <mat-icon matListIcon>sports_martial_arts</mat-icon>
        <span mat-line>Kickar usuário</span>
    </mat-list-item>

    <!-- <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>Google Keep</span>
        <span mat-line>Add to a note</span>
    </a> -->
</mat-nav-list>