<mat-card *ngIf="team" style="width: 95%; margin: auto;">
    <div fxLayout="row">
        <mat-card-header>
            <mat-card-title>{{team.name}}</mat-card-title>
            <mat-card-subtitle>{{team.description}}</mat-card-subtitle>
        </mat-card-header>
        <span style="flex: 1 1 auto;"></span>
        <!-- <button mat-icon-button (click)="showTeamCardContent = !showTeamCardContent">
            <mat-icon> {{showTeamCardContent ? 'expand_less' : 'expand_more'}} </mat-icon>
        </button> -->
        <button mat-icon-button [matMenuTriggerFor]="companyMenu">
            <mat-icon> more_vert </mat-icon>
          </button>
      
          <mat-menu #companyMenu="matMenu" xPosition="before">
            <button *ngIf="isTeamAdmin(user?.id!)" mat-menu-item (click)="onEdit()">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
            </button>
            <button *ngIf="isTeamAdmin(user?.id!)" mat-menu-item (click)="onDelete()">
                <mat-icon>delete_forever</mat-icon>
                <span>Excluir</span>
            </button>
            <button mat-menu-item (click)="exitTeam()">
              <mat-icon>door_back</mat-icon>
              <span>Deixar equipe</span>
          </button>
        </mat-menu>
    </div>

    <!-- <mat-card-actions *ngIf="showTeamCardContent" align="end">
        <button mat-button [disabled]="!canEdit()" (click)="onEdit()">
            <mat-icon>edit</mat-icon>
            <span>&nbsp; Editar</span>
        </button>
    </mat-card-actions> -->

</mat-card>

<mat-tab-group>

    <mat-tab label="Membros">

        <div style="width: 90%; padding: 5px;" fxLayout="row" fxLayoutAlign="start center">
            <h2 style="margin: 0%;">Membros da Equipe ({{dataSourceMembers.data.length}})</h2>
        </div>

        <table style="width: 100%" #membersTable mat-table [dataSource]="dataSourceMembers" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element">
                    <div fxLayout="row" fxFlexAlign="start center">
                        <mat-list dense>
                            <mat-list-item>
                                <img matListAvatar [src]="element.photoUrl" alt="...">
                            </mat-list-item>
                        </mat-list>
                        <span style="padding: 0px; margin-top: auto; margin-bottom: auto">{{element.name}} </span>
                        <mat-icon style="padding: 0px; margin-top: auto; margin-bottom: auto" *ngIf="isTeamAdmin(element.id)"
                            matTooltip="Administrador do Grupo">assignment_ind</mat-icon>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Cargo </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="openBottomSheet(element.id)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsMembers"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMembers;"></tr>
        </table>
        <div fxLayoutAlign="center center" *ngIf='!members'>
            <mat-spinner></mat-spinner>
        </div>
        <br>
        <div style="width: 90%; padding: 5px;" fxLayout="row" fxLayoutAlign="start center">
            <h2 style="margin: 0%;">Aguardando Aprovação ({{dataSourceWaitingApp.data.length}})</h2>
        </div>

        <table mat-table style="width: 100%" #waitingAppTable [dataSource]="dataSourceWaitingApp" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element">
                    <div fxLayout="row" fxFlexAlign="start center">
                        <mat-list dense>
                            <mat-list-item>
                                <img matListAvatar [src]='element.photoUrl'>
                            </mat-list-item>
                        </mat-list>
                        <span style="padding: 0px; margin-top: auto; margin-bottom: auto">{{element.name}} </span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button (click)="approveMember(element.id)">
                        <mat-icon>check</mat-icon>
                        <span>Aceitar</span>
                    </button>
                    <span>&nbsp;</span>
                    <button mat-raised-button (click)="rejectMember(element.id)">
                        <mat-icon>clear</mat-icon>
                        <span>Rejeitar</span>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="waitingAppColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: waitingAppColumns;"></tr>
        </table>
        <div fxLayoutAlign="center center" *ngIf='!waitingApproval'>
            <mat-spinner></mat-spinner>
        </div>
        <br>

    </mat-tab>


    <mat-tab label="Sistemas">
        <div style="width: 90%; padding: 5px;" fxLayout="row" fxLayoutAlign="start center">
            <h2 style="margin: 0%;">Sistemas da Equipe ({{dataSourceSystems.data.length}})</h2>
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button (click)="onAddSystem()">
                <mat-icon>add</mat-icon>
                <span>Sistema</span>
            </button>
        </div>

        <table style="width: 100%" #systems mat-table [dataSource]="dataSourceSystems" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="onViewSystem(element.id)">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsSystems"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSystems;"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Posts">
        <div style="width: 90%; padding: 5px;" fxLayout="row" fxLayoutAlign="start center">
            <h2 style="margin: 0%;">Posts desta Equipe ({{posts.length}})</h2>
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button (click)="onAddPost()">
                <mat-icon>add</mat-icon>
                <span>Criar Post</span>
            </button>
        </div>
        <br>
        <div *ngFor="let post of posts">
            <mat-card class="post-card">

                <div fxLayout="row" fxLayoutAlign="start center" (click)="viewPost(post.id!)">
                    <h1>{{post.title}}</h1>
                    <span style="flex: 1 1 auto;"></span>
                    <button mat-icon-button (click)="viewPost(post.id!)">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </div>

                <mat-card-header>
                    <img mat-card-avatar class="avatar-image" [src]="getAuthor(post.usrId)?.photoUrl">
                    <mat-card-title> {{getAuthor(post.usrId)?.name ?? 'user_name'}} </mat-card-title>
                    <mat-card-subtitle>publicado em: {{toDate(post.created!)}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-chip-list>
                        <mat-chip *ngFor="let tag of post.tags">{{tag}}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="toggleLike(post.id!)">
                        <mat-icon *ngIf="post.liked.length > 0">thumb_up_alt</mat-icon>
                        <mat-icon *ngIf="post.liked.length <= 0">thumb_up_off_alt</mat-icon>
                        <span>&nbsp; {{post.liked.length}}</span>
                    </button>
                    <button mat-button [disabled]="userViewed(post.id!)">
                        <mat-icon>visibility</mat-icon>
                        <span>&nbsp; {{post.viewed}}</span>
                    </button>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
    </mat-tab>
</mat-tab-group>



<div fxLayoutAlign="center center">
    <mat-spinner *ngIf='isLoading'></mat-spinner>
</div>



<br><br>
<!-- <span>{{team | json}}</span> -->