<h1 fxLayoutAlign="center">Editar Post</h1>

<div style="max-width: 900px; margin: auto">
  <form mat-form fxLayout="column" fxLayoutAlign="start center" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput type="text" placeholder="Título do post" formControlName="title">
      <mat-error *ngIf="form.controls['title'].hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
          {{tag}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="Use Enter para adicionar novas tags..." 
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
          [matChipInputAddOnBlur]="addTagOnBlur"
          (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>

    <quill-editor #editor [styles]="{height: '200px'}"
      formControlName="editor" [sanitize]="true">
    </quill-editor>

    <br>
    <div fxLayout="row" fxLayoutGap="10px">
      <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Salvar</button>
      <button type="button" mat-raised-button color="warn" (click)="goBack()">Cancelar</button>
    </div>
  </form>
</div>
<br>