<div fxLayout="row">
    <h1 mat-dialog-title>Alterar Foto</h1>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button (click)="useNone()" matTooltip="Excluir foto">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <input type="file" accept="image/png, image/jpg, image/jpeg, image/bmp" style="display: none;" (change)="onFileSelected($event)" #fileInput>

    <mat-card style="max-width: 270px;">
        <mat-card-content>
            <img mat-card-image [src]="imageSrc ?? passedData.profile.photoUrl">
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
                <span>&nbsp; Carregar Foto</span>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-error *ngIf="sizeError">O tamanho da imagem não pode exceder 2MiB</mat-error>
    <div>
        <mat-progress-bar *ngIf="uploadProgress" 
            class="progress-bar" mode="determinate" [value]="uploadProgress">
        </mat-progress-bar>
    </div>
    <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [disabled]="saveBtnDisabled" (click)="onSave()">Salvar</button>
    <button mat-button [disabled]="cancelBtnDisabled" (click)="onClose()">Cancela</button>
</mat-dialog-actions>