<section>
    <h1 fxLayoutAlign="center">Nova Grupo de Empresa</h1>

    <form fxLayout="column" fxLayoutAlign="start center" [formGroup]="companyForm" fxLayoutGap="0px"
        (ngSubmit)="onSubmit()">

        <div class="dual-container">
            <mat-icon>domain</mat-icon>
            <mat-form-field appearance="outline">
                <mat-label>Nome da Empresa</mat-label>
                <input matInput type="text" placeholder="Nome da Empresa" formControlName="name">
                <mat-error *ngIf="companyForm.controls['name'].hasError('required')">Campo obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="dual-container">
            <mat-icon>assignment_ind</mat-icon>
            <mat-form-field appearance="outline">
                <mat-label>Administrador</mat-label>
                <input matInput readonly placeholder="Administrador" type="text" [formControl]="administrator">
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Segmento</mat-label>
            <input matInput type="text" placeholder="Segmento" formControlName="segment">
        </mat-form-field>

        <div fxLayoutAlign="center center" class="dual-container">
            <mat-icon>description</mat-icon>
            <mat-form-field appearance="outline">
                <mat-label>Descrição</mat-label>
                <textarea matInput placeholder="Descrição" formControlName="description" rows="6" cols="100"></textarea>
                <mat-error *ngIf="companyForm.controls['description'].hasError('required')">Forneça alguma descrição para o grupo</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="column">
            <!-- <mat-label>Grupo aberto</mat-label> -->
            <mat-checkbox matInput formControlName="isOpen">Grupo aberto</mat-checkbox>
            <mat-hint>um grupo aberto não requer aprovação de novos membros</mat-hint>
            
            <br>
            
            <mat-checkbox matInput formControlName="isPublic">Grupo público</mat-checkbox>
            <mat-hint>grupos públicos aparecem nos resultados de pesquisa</mat-hint>
        </div>

        <br><br>

        <div fxLayout="row" fxLayoutGap="10px">
            <button type="submit" mat-raised-button color="primary" [disabled]="companyForm.invalid">Salvar</button>
            <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
        </div>
    </form>
</section>