<h1>Meus Sistemas</h1>
<mat-table [dataSource]="dataSourceSystems" matSort>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sistema</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ndocs">
        <mat-header-cell *matHeaderCellDef> Docs </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.nDocs?? 0 }} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef>

        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onViewSystem(element.id!)">
                <mat-icon>open_in_new</mat-icon>
            </button>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumnsSystems"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsSystems;"></mat-row>
</mat-table>

<div fxLayoutAlign="center center">
    <mat-spinner *ngIf='isLoading' ></mat-spinner>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons >
</mat-paginator>