
<mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sistema</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button (click)="new()">
                <mat-icon>add_box</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(element.id, element.name)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div fxLayoutAlign="center center">
    <mat-spinner *ngIf='isLoading' ></mat-spinner>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons >
</mat-paginator>